:root {
  --main-color: #213555;
  --secondary-color: #3e5879;
  --bg-color: #d8c4b6;
  --text-color: #f5efe7;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  background-color: var(--text-color);
  color: var(--main-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

ul {
  list-style: none;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

/* Nav bar */
.nav {
  display: flex;
  align-items: center;
  height: 10rem;
}

/* .nav__logo {
  height: 100px;
  width: 100px;
  display: inline;
} */

.nav .container {
  width: 100%;
}

.nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav__list li a {
  /* margin-left: 20rem; */
  font-size: 1.9rem;
  font-weight: 700;
  height: 100%;
  cursor: pointer;
}

.nav__list li a:hover {
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 1rem;
  transition: all 0.4s;
}

/* INTRO */
.intro {
  height: 60rem;
  display: grid;
  grid-template-columns: 100%;
  text-align: center;
  margin-bottom: 30rem;
  margin-top: 25rem;
}

/* .intro .container {
  animation: 1s ease-in-out fadeIn;
} */

.intro p {
  transform: translateY(7rem);
}

.intro p i {
  margin-left: 1rem;
  animation: 2s infinite bounce;
}

/* Main */
.main {
  margin-bottom: 25rem;
}

.main .container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 3rem;
  /* margin-top: 10rem; */
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.main__body h2 {
  margin-bottom: 3rem;
}

.main__body p {
  /* border: 2px solid blueviolet; */
  margin-bottom: 3rem;
}

.main__body p span {
  margin-left: 2rem;
  position: relative;
}

.main__body p span::before {
  content: "";
  position: absolute;
  height: 0.7rem;
  width: 0.7rem;
  background-color: #000;
  border-radius: 60%;
  top: 7.5px;
  left: -20px;
}

.main__image {
  width: 45rem;
  height: 57.4rem;
  border-radius: 3rem;
}

.main__btn {
  display: flex;
  justify-content: center;
  align-self: center;
}

.main__btn button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-size: 1.7rem;
  position: relative;
}

.main__btn button:hover {
  background-color: #334765;
  color: #e2dbd0;
  transition: all 0.3s;
}

/* Projects */
.projects {
  background-color: var(--secondary-color);
  color: var(--bg-color);
  height: 110rem;
  padding-top: 15rem;
}

/* header part /////////////////*/

.projects__tab--container {
  display: flex;
  justify-content: space-around;
}

.projects__tab--container .btn {
  padding: 1.4rem 4rem;
  border-radius: 5rem;
  transform: translateY(2.5rem);
  transition: transform 0.5s;
}

.btn.projects__tab--active {
  transform: translateY(1.2rem);
  transition: all 0.5s;
}

.projects__tab--1.btn {
  background-color: #5f91b2;
}

.projects__tab--2.btn {
  background-color: #4a7b9a;
}

.projects__tab--3.btn {
  background-color: #355e7f;
}

.projects__tab--4.btn {
  background-color: #2b4a69;
}

/* body part //////////// */
.projects__body .header {
  margin-top: 3rem;
}

.projects__content {
  display: none;
}

.projects__content--active {
  display: block;
  border: 1px solid #000;
  border-radius: 3rem;
  box-shadow: 2px 2px 15px 7px rgba(0, 0, 0, 0.3);
  padding: 10rem 5rem;
}

.projects__body--btn {
  margin-top: 5rem;
  text-align: center;
}

.projects__body--btn .btn {
  transition: all 0.5s;
}

.projects__body--btn .btn:hover {
  padding-left: 3rem;
  padding-right: 3rem;
  transition: all 0.5s;
}

.projects__body--btn a {
  color: #fff;
}

/* .projects__body--btn button {
  margin-left: 3rem;
} */

/* Footer */
#contact--me {
  background-color: #000;
  color: var(--text-color);
  padding: 20rem 0 30rem 0;
  line-height: 3.5rem;
}

#contact--me .email {
  color: var(--text-color);
  background-color: var(--main-color);
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin-left: 1rem;
}

/* Links */
#contact--me .links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

/* Utility classes */
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  padding: 1.3rem 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
}

.animation {
  animation: 1s ease-in-out fadeIn;
}

.hidden {
  display: none;
}

.header {
  font-size: 4rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-7px);
  }
  50% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
