:root {
  --main-color: #213555;
  --secondary-color: #3e5879;
  --bg-color: #d8c4b6;
  --text-color: #f5efe7;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  background-color: var(--text-color);
  color: var(--main-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

ul {
  list-style: none;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

/* Nav bar */
.nav {
  display: flex;
  align-items: center;
  height: 10rem;
}

/* .nav__logo {
  height: 100px;
  width: 100px;
  display: inline;
} */

.nav .container {
  width: 100%;
}

.nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav__list li a {
  /* margin-left: 20rem; */
  font-size: 1.9rem;
  font-weight: 700;
  height: 100%;
}

.nav__list li a:hover {
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 1rem;
  /* transition: all 0.4s; */
}

/* Main */
.main {
  margin-bottom: 25rem;
}

.main .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
  margin-top: 10rem;
}

.main__body {
  border: 2px solid blueviolet;
}

.main__body h2 {
  margin-bottom: 3rem;
}

.main__body p {
  /* border: 2px solid blueviolet; */
  margin-bottom: 10rem;
}

.main__image {
  width: 50rem;
  height: 50rem;
}

/* Projects */
.projects {
  background-color: var(--secondary-color);
  color: var(--bg-color);
  padding-top: 20rem;
}

.projects__header {
  margin-bottom: 10rem;
}

.projects__header ul {
  display: flex;
  justify-content: space-around;
}

.projects__header ul li a {
  color: var(--bg-color);
  font-size: 3rem;
}

.projects__header ul li a:hover {
  border-bottom: 2px solid var(--main-color);
  padding-bottom: 1rem;
  transition: all 0.3s ease-out;
}

.projects__body--btn {
  margin-top: 5rem;
  padding-bottom: 20rem;
  text-align: center;
}

/* .projects__body--btn button {
  margin-left: 3rem;
} */

/* Footer */
.contact--me {
  background-color: #000;
  color: var(--text-color);
  padding: 20rem 0;
  line-height: 3.5rem;
}

.contact--me .email {
  color: var(--text-color);
  background-color: var(--main-color);
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin-left: 1rem;
}

/* Links */
.contact--me .links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

/* Utility classes */
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  padding: 1.3rem 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  background-color: var(--bg-color);
  color: var(--main-color);
  cursor: pointer;
}

.header {
  font-size: 4rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
}
